body {
  color: green;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.lightBlueButton,
.lightGreenButton,
.lightPinkButton
{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.lightBlueButton 
{
    background: rgb(58, 168, 229); 
}

.lightGreenButton 
{
    background: rgb(65, 127, 46); 
}

.lightPinkButton 
{
    background: rgb(127, 35, 63); 
}